Project Question: By using Chronic Kidney Disease data gathered from 5 different hospitals in India create a prediction model which would be able by at least 65% accuracy predict if a person is likely to have developed a chronic kidney disease (CKD) 

Information about the data:
    ○ 25 number of values (including class/label)
    ○ 400 number of instances
    ○ There are missing values
    ○ Data was made public in 2015
    ○ Link to data source: http://archive.ics.uci.edu/ml/datasets/Chronic_Kidney_Disease

What is chronic kidney disease?
It is one of several kidney diseases that results a gradual loss of kidney functionality which could lead in death.
According to the statistics there were around 323 millions of people in the entire world which were affected by one or another form of this disease (source: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5055577/). 

Why this kind of project would be necessary and valuable?
Chronic kidney disease is a growing problem world-wide and therefore it is important to bring some more attention to it. CKD is comprised of 5 different stages and there are ways that the progression of kidney failure could be slowed down or stopped. Therefore it is very important to be able to discover people which are likely to have developed CKD as soon as possible.  

This project could be able to contribute to early discovering of patients who have developed CKD by looking in a number (24 in total) of factors which are said to be helpful while trying to indicate if a person has actually developed CKD.

Project delimitations:
    ○ Data collected only from 1 country
    ○ Relatively small (400) amount of instances

## Imports

In [831]:
import pandas as pd
import numpy as np
# matplotlib.pyplot for data plots
import matplotlib.pyplot as plt
from sklearn import preprocessing as prep

## Reading data

In [832]:
# Reading data table and assigning names for columns
readData = pd.read_table('chronic_kidney_disease_cleaned.arff', ',', header=None,
                         names=["age", "bloodPressure","specificGravity","albumin","sugar","redBloodCells","pusCell","pusCellClumps",
                                "bacteria", "bloodGlucoseRandom","bloodUrea","serumCreatinine","sodium",
                                "potassium","hemoglobin","packedCellVolume","whiteBloodCellCount",
                                "redBloodCellCount","hypertension","diabetesMellitus","coronaryArteryDisease",
                                "appetite","pedalEdema","anemia","class" ])
data = pd.DataFrame(readData);
# Number of collumns and rows
print("Rows and Columns", data.shape)

# Showing 10 first rows
#data.head(10)

Rows and Columns (400, 25)

## Data processing

### Cheking for missing data

In [833]:
# Replacing missing ("?") and ("\t?") data with NaN values
data = data.replace('?', np.NaN)
data = data.replace('\t?', np.NaN)

# Visualizing changed values
data.head(10)

,age,bloodPressure,specificGravity,albumin,sugar,redBloodCells,pusCell,pusCellClumps,bacteria,bloodGlucoseRandom,...,packedCellVolume,whiteBloodCellCount,redBloodCellCount,hypertension,diabetesMellitus,coronaryArteryDisease,appetite,pedalEdema,anemia,class
0,48,80,1.020,1,0,NaN,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.020,4,0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,60,90,1.015,3,0,NaN,NaN,notpresent,notpresent,74,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,68,70,1.010,0,0,NaN,normal,notpresent,notpresent,100,...,36,NaN,NaN,no,no,no,good,no,no,ckd
7,24,NaN,1.015,2,4,normal,abnormal,notpresent,notpresent,410,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,52,100,1.015,3,0,normal,abnormal,present,notpresent,138,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
9,53,90,1.020,2,0,abnormal,abnormal,present,notpresent,70,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd

In [834]:
#Checking where is missing data by each column
missing = data.isnull().sum(axis=0) 
print("Columns and Number of missing data \n", missing)

Columns and Number of missing data
 age                        9
bloodPressure             12
specificGravity           47
albumin                   46
sugar                     49
redBloodCells            152
pusCell                   65
pusCellClumps              4
bacteria                   4
bloodGlucoseRandom        44
bloodUrea                 19
serumCreatinine           17
sodium                    87
potassium                 88
hemoglobin                52
packedCellVolume          71
whiteBloodCellCount      106
redBloodCellCount        131
hypertension               2
diabetesMellitus           3
coronaryArteryDisease      2
appetite                   1
pedalEdema                 1
anemia                     1
class                      0
dtype: int64

## Replacing nominal (text) values into numerical values

Replacing nominal (text) values with numerical values is important since otherwise we will not be able to work with algorithms

In [835]:
# Making a map where 'normal' will be converted into 1 and 'abnormal' will be converted into 0
redBloodCells_mapping = {'normal' : 1, 'abnormal' : 0}
# Making the actual convertion and replacing the values in the table
data['redBloodCells'] = data['redBloodCells'].map(redBloodCells_mapping)

# Making a map where 'normal' will be converted into 1 and 'abnormal' will be converted into 0
pusCell_mapping = {'normal' : 1, 'abnormal' : 0}
# Making the actual convertion and replacing the values in the table
data['pusCell'] = data['pusCell'].map(pusCell_mapping)

# Making a map where 'present' will be converted into 1 and 'notpresent' will be converted into 0
pusCellClumps_mapping = {'present' : 1, 'notpresent' : 0}
# Making the actual convertion and replacing the values in the table
data['pusCellClumps'] = data['pusCellClumps'].map(pusCellClumps_mapping)

# Making a map where 'present' will be converted into 1 and 'notpresent' will be converted into 0
bacteria_mapping = {'present' : 1, 'notpresent' : 0}
# Making the actual convertion and replacing the values in the table
data['bacteria'] = data['bacteria'].map(bacteria_mapping)

# Making a map where 'yes' will be converted into 1 and 'no' will be converted into 0
hypertension_mapping = {'yes' : 1, 'no' : 0}
# Making the actual convertion and replacing the values in the table
data['hypertension'] = data['hypertension'].map(hypertension_mapping)

# Making a map where 'yes' will be converted into 1 and 'no' will be converted into 0
diabetesMellitus_mapping = {'yes' : 1, 'no' : 0}
# Making the actual convertion and replacing the values in the table
data['diabetesMellitus'] = data['diabetesMellitus'].map(diabetesMellitus_mapping)

# Making a map where 'yes' will be converted into 1 and 'no' will be converted into 0
coronaryArteryDisease_mapping = {'yes' : 1, 'no' : 0}
# Making the actual convertion and replacing the values in the table
data['coronaryArteryDisease'] = data['coronaryArteryDisease'].map(coronaryArteryDisease_mapping)

# Making a map where 'good' will be converted into 1 and 'poor' will be converted into 0
appetite_mapping = {'good' : 1, 'poor' : 0}
# Making the actual convertion and replacing the values in the table
data['appetite'] = data['appetite'].map(appetite_mapping)

# Making a map where 'yes' will be converted into 1 and 'no' will be converted into 0
pedalEdema_mapping = {'yes' : 1, 'no' : 0}
# Making the actual convertion and replacing the values in the table
data['pedalEdema'] = data['pedalEdema'].map(pedalEdema_mapping)

# Making a map where 'yes' will be converted into 1 and 'no' will be converted into 0
anemia_mapping = {'yes' : 1, 'no' : 0}
# Making the actual convertion and replacing the values in the table
data['anemia'] = data['anemia'].map(anemia_mapping)


# Here we are working with mapping of the class label
# Making a map where 'ckd' will be converted into 1 and 'notckd' will be converted into 0
class_mapping = {'ckd' : 1, 'notckd' : 0}
# Making the actual convertion and replacing the values in the table
data['class'] = data['class'].map(class_mapping)

#data['class'] = data['class'].dropna()
#Checking where is missing data by each column
#missing = data['class'].isnull().sum(axis=0) 
#print("Columns and Number of missing data \n", missing)
#data.head(10)
#Checking where is missing data by each column
missing = data.isnull().sum(axis=0) 
print("Columns and Number of missing data \n", missing)

Columns and Number of missing data
 age                        9
bloodPressure             12
specificGravity           47
albumin                   46
sugar                     49
redBloodCells            152
pusCell                   65
pusCellClumps              4
bacteria                   4
bloodGlucoseRandom        44
bloodUrea                 19
serumCreatinine           17
sodium                    87
potassium                 88
hemoglobin                52
packedCellVolume          71
whiteBloodCellCount      106
redBloodCellCount        131
hypertension               2
diabetesMellitus           9
coronaryArteryDisease      4
appetite                   2
pedalEdema                 2
anemia                     1
class                      3
dtype: int64

## Replacing missing data

Our strategy with missing data:
When there are some missing data in the table there could be couple of approaches how this problem could be solved. The easiest way could be to just remove those collumns that have an extensive amount of missing data. Even though we have a relatively high amount of data that is missing there are no collumns where the amount of missing data is higher then 90%. Therefore, we have chosen to find ways how to replace this data instead of removing it.

In [836]:
# Replace empty 'age' values by their columns average
data['age'] = data.age.astype(float)
data['age'].fillna((data['age'].mean()), inplace=True)
data['age'] = data.age.astype(int)

# Replace empty 'bloodPressure' values by their columns average
data['bloodPressure'] = data.bloodPressure.astype(float)
data['bloodPressure'].fillna((data['bloodPressure'].mean()), inplace=True)
data['bloodPressure'] = data.bloodPressure.astype(int)

#Replace empty 'specificGravity' values with most frequent value in the collumn
data['specificGravity'] = data['specificGravity'].fillna(data['specificGravity'].value_counts().index[0])
#data['specificGravity'] = data.specificGravity.astype(int)

#Replace empty 'albumin' values with most frequent value in the collumn
data['albumin'] = data['albumin'].fillna(data['albumin'].value_counts().index[0])
data['albumin'] = data.albumin.astype(int)

#Replace empty 'sugar' values with most frequent value in the collumn
data['sugar'] = data['sugar'].fillna(data['sugar'].value_counts().index[0])
data['sugar'] = data.sugar.astype(int)

#Replace empty 'redBloodCells' values with most frequent value in the collumn
data['redBloodCells'] = data['redBloodCells'].fillna(data['redBloodCells'].value_counts().index[0])
data['redBloodCells'] = data.redBloodCells.astype(int)

#Replace empty 'pusCell' values with most frequent value in the collumn
data['pusCell'] = data['pusCell'].fillna(data['pusCell'].value_counts().index[0])
data['pusCell'] = data.pusCell.astype(int)

#Replace empty 'pusCellClumps' values with most frequent value in the collumn
data['pusCellClumps'] = data['pusCellClumps'].fillna(data['pusCellClumps'].value_counts().index[0])
data['pusCellClumps'] = data.pusCellClumps.astype(int)

#Replace empty 'bacteria' values with most frequent value in the collumn
data['bacteria'] = data['bacteria'].fillna(data['bacteria'].value_counts().index[0])
data['bacteria'] = data.bacteria.astype(int)

#Replace empty 'bloodGlucoseRandom' values with most frequent value in the collumn
data['bloodGlucoseRandom'] = data['bloodGlucoseRandom'].fillna(data['bloodGlucoseRandom'].value_counts().index[0])
data['bloodGlucoseRandom'] = data.bloodGlucoseRandom.astype(int)

# Replace empty 'bloodUrea' values by their columns average
data['bloodUrea'] = data.bloodUrea.astype(float)
data['bloodUrea'].fillna((data['bloodUrea'].mean()), inplace=True)
data['bloodUrea'] = data.bloodUrea.astype(int)

# Replace empty 'serumCreatinine' values by their columns average
data['serumCreatinine'] = data.serumCreatinine.astype(float)
data['serumCreatinine'].fillna((data['serumCreatinine'].mean()), inplace=True)
data['serumCreatinine'] = data.serumCreatinine.astype(int)

# Replace empty 'sodium' values by their columns average
data['sodium'] = data.sodium.astype(float)
data['sodium'].fillna((data['sodium'].mean()), inplace=True)
data['sodium'] = data.sodium.astype(int)

# Replace empty 'potassium' values by their columns average
data['potassium'] = data.potassium.astype(float)
data['potassium'].fillna((data['potassium'].mean()), inplace=True)
data['potassium'] = data.potassium.astype(int)

# Replace empty 'hemoglobin' values by their columns average
data['hemoglobin'] = data.hemoglobin.astype(float)
data['hemoglobin'].fillna((data['hemoglobin'].mean()), inplace=True)
data['hemoglobin'] = data.hemoglobin.astype(int)

# Replace empty 'packedCellVolume' values by their columns average
data['packedCellVolume'] = data.packedCellVolume.astype(float)
data['packedCellVolume'].fillna((data['packedCellVolume'].mean()), inplace=True)
data['packedCellVolume'] = data.packedCellVolume.astype(int)

# Replace empty 'whiteBloodCellCount' values by their columns average
data['whiteBloodCellCount'] = data.whiteBloodCellCount.astype(float)
data['whiteBloodCellCount'].fillna((data['whiteBloodCellCount'].mean()), inplace=True)
data['whiteBloodCellCount'] = data.whiteBloodCellCount.astype(int)

# Replace empty 'redBloodCellCount' values by their columns average
data['redBloodCellCount'] = data.redBloodCellCount.astype(float)
data['redBloodCellCount'].fillna((data['redBloodCellCount'].mean()), inplace=True)
data['redBloodCellCount'] = data.redBloodCellCount.astype(int)

#Replace empty 'hypertension' values with most frequent value in the collumn
data['hypertension'] = data['hypertension'].fillna(data['hypertension'].value_counts().index[0])
data['hypertension'] = data.hypertension.astype(int)

#Replace empty 'diabetesMellitus' values with most frequent value in the collumn
data['diabetesMellitus'] = data['diabetesMellitus'].fillna(data['diabetesMellitus'].value_counts().index[0])
data['diabetesMellitus'] = data.diabetesMellitus.astype(int)

#Replace empty 'coronaryArteryDisease' values with most frequent value in the collumn
data['coronaryArteryDisease'] = data['coronaryArteryDisease'].fillna(data['coronaryArteryDisease'].value_counts().index[0])
data['coronaryArteryDisease'] = data.coronaryArteryDisease.astype(int)

#Replace empty 'appetite' values with most frequent value in the collumn
data['appetite'] = data['appetite'].fillna(data['appetite'].value_counts().index[0])
data['appetite'] = data.appetite.astype(int)

#Replace empty 'pedalEdema' values with most frequent value in the collumn
data['pedalEdema'] = data['pedalEdema'].fillna(data['pedalEdema'].value_counts().index[0])
data['pedalEdema'] = data.pedalEdema.astype(int)

#Replace empty 'anemia' values with most frequent value in the collumn
data['anemia'] = data['anemia'].fillna(data['anemia'].value_counts().index[0])
data['anemia'] = data.anemia.astype(int)

#Replace empty 'class' values with most frequent value in the collumn
#data['class'] = data['class'].fillna(data['class'].value_counts().index[0])
#data['class'] = data.class.astype(int)


missing = data['class'].isnull().sum(axis=0) 
print("Columns and Number of missing data \n", missing)

data.head(10)


# USE MOST FREQUENT VALUE METHOD

#print (data.dtypes)

Columns and Number of missing data
 3

,age,bloodPressure,specificGravity,albumin,sugar,redBloodCells,pusCell,pusCellClumps,bacteria,bloodGlucoseRandom,...,packedCellVolume,whiteBloodCellCount,redBloodCellCount,hypertension,diabetesMellitus,coronaryArteryDisease,appetite,pedalEdema,anemia,class
0,48,80,1.020,1,0,1,1,0,0,121,...,44,7800,5,1,1,0,1,0,0,1.0
1,7,50,1.020,4,0,1,1,0,0,99,...,38,6000,4,0,0,0,1,0,0,1.0
2,62,80,1.010,2,3,1,1,0,0,423,...,31,7500,4,0,1,0,0,0,1,1.0
3,48,70,1.005,4,0,1,0,1,0,117,...,32,6700,3,1,0,0,0,1,1,1.0
4,51,80,1.010,2,0,1,1,0,0,106,...,35,7300,4,0,0,0,1,0,0,1.0
5,60,90,1.015,3,0,1,1,0,0,74,...,39,7800,4,1,1,0,1,1,0,1.0
6,68,70,1.010,0,0,1,1,0,0,100,...,36,8406,4,0,0,0,1,0,0,1.0
7,24,76,1.015,2,4,1,0,0,0,410,...,44,6900,5,0,1,0,1,1,0,1.0
8,52,100,1.015,3,0,1,0,1,0,138,...,33,9600,4,1,1,0,1,0,1,1.0
9,53,90,1.020,2,0,0,0,1,0,70,...,29,12100,3,1,1,0,0,0,1,1.0

In [837]:
#data.head(10)

## Outliers

In this section we are checking for outliers which are the data values that are far away from the average value inside a column. The outliers are found with a help of the average of the column values and also using standart deviation. <br>
While working with this part of the project we had to look into what kind of values or their differences are considered to be "normal". Therefore the size

In [838]:

# Cheking for outliers in the "bloodPressure" column
data["bloodPressure"] = data["bloodPressure"][abs(data["bloodPressure"] - np.mean(data["bloodPressure"])) < 3 * np.std(data["bloodPressure"])]

# Cheking for outliers in the "bloodGlucoseRandom" column
data["bloodGlucoseRandom"] = data["bloodGlucoseRandom"][abs(data["bloodGlucoseRandom"] - np.mean(data["bloodGlucoseRandom"])) < 4 * np.std(data["bloodGlucoseRandom"])]

# Cheking for outliers in the "bloodUrea" column
data["bloodUrea"] = data["bloodUrea"][abs(data["bloodUrea"] - np.mean(data["bloodUrea"])) < 3 * np.std(data["bloodUrea"])]

# Cheking for outliers in the "serumCreatinine" column
data["serumCreatinine"] = data["serumCreatinine"][abs(data["serumCreatinine"] - np.mean(data["serumCreatinine"])) < 3 * np.std(data["serumCreatinine"])]

# Cheking for outliers in the "sodium" column
data["sodium"] = data["sodium"][abs(data["sodium"] - np.mean(data["sodium"])) < 4 * np.std(data["sodium"])]

# Cheking for outliers in the "potassium" column
data["potassium"] = data["potassium"][abs(data["potassium"] - np.mean(data["potassium"])) < 3 * np.std(data["potassium"])]

# Cheking for outliers in the "hemoglobin" column
data["hemoglobin"] = data["hemoglobin"][abs(data["hemoglobin"] - np.mean(data["hemoglobin"])) < 3 * np.std(data["hemoglobin"])]

# Cheking for outliers in the "packedCellVolume" column
data["packedCellVolume"] = data["packedCellVolume"][abs(data["packedCellVolume"] - np.mean(data["packedCellVolume"])) < 3 * np.std(data["packedCellVolume"])]

# Cheking for outliers in the "whiteBloodCellCount" column
data["whiteBloodCellCount"] = data["whiteBloodCellCount"][abs(data["whiteBloodCellCount"] - np.mean(data["whiteBloodCellCount"])) < 3 * np.std(data["whiteBloodCellCount"])]

# Cheking for outliers in the "redBloodCellCount" column
data["redBloodCellCount"] = data["redBloodCellCount"][abs(data["redBloodCellCount"] - np.mean(data["redBloodCellCount"])) < 3 * np.std(data["redBloodCellCount"])]

#print(data["redBloodCellCount"])

missing = data.isnull().sum(axis=0) 
print("Columns and Number of missing data \n", missing)

#print(data["class"])

data.head(10)

Columns and Number of missing data
 age                       0
bloodPressure             3
specificGravity           0
albumin                   0
sugar                     0
redBloodCells             0
pusCell                   0
pusCellClumps             0
bacteria                  0
bloodGlucoseRandom        3
bloodUrea                10
serumCreatinine           4
sodium                    1
potassium                 2
hemoglobin                1
packedCellVolume          2
whiteBloodCellCount       6
redBloodCellCount         1
hypertension              0
diabetesMellitus          0
coronaryArteryDisease     0
appetite                  0
pedalEdema                0
anemia                    0
class                     3
dtype: int64

,age,bloodPressure,specificGravity,albumin,sugar,redBloodCells,pusCell,pusCellClumps,bacteria,bloodGlucoseRandom,...,packedCellVolume,whiteBloodCellCount,redBloodCellCount,hypertension,diabetesMellitus,coronaryArteryDisease,appetite,pedalEdema,anemia,class
0,48,80.0,1.020,1,0,1,1,0,0,121.0,...,44.0,7800.0,5.0,1,1,0,1,0,0,1.0
1,7,50.0,1.020,4,0,1,1,0,0,99.0,...,38.0,6000.0,4.0,0,0,0,1,0,0,1.0
2,62,80.0,1.010,2,3,1,1,0,0,423.0,...,31.0,7500.0,4.0,0,1,0,0,0,1,1.0
3,48,70.0,1.005,4,0,1,0,1,0,117.0,...,32.0,6700.0,3.0,1,0,0,0,1,1,1.0
4,51,80.0,1.010,2,0,1,1,0,0,106.0,...,35.0,7300.0,4.0,0,0,0,1,0,0,1.0
5,60,90.0,1.015,3,0,1,1,0,0,74.0,...,39.0,7800.0,4.0,1,1,0,1,1,0,1.0
6,68,70.0,1.010,0,0,1,1,0,0,100.0,...,36.0,8406.0,4.0,0,0,0,1,0,0,1.0
7,24,76.0,1.015,2,4,1,0,0,0,410.0,...,44.0,6900.0,5.0,0,1,0,1,1,0,1.0
8,52,100.0,1.015,3,0,1,0,1,0,138.0,...,33.0,9600.0,4.0,1,1,0,1,0,1,1.0
9,53,90.0,1.020,2,0,0,0,1,0,70.0,...,29.0,12100.0,3.0,1,1,0,0,0,1,1.0

In [839]:
#data.head(200)

data.dropna(inplace=True)
data.reset_index(drop=True, inplace=True)

#data = data.dropna()
print(data)
data.shape

     age  bloodPressure specificGravity  albumin  sugar  redBloodCells  \
0     48           80.0           1.020        1      0              1
1      7           50.0           1.020        4      0              1
2     62           80.0           1.010        2      3              1
3     48           70.0           1.005        4      0              1
4     51           80.0           1.010        2      0              1
5     60           90.0           1.015        3      0              1
6     24           76.0           1.015        2      4              1
7     52          100.0           1.015        3      0              1
8     53           90.0           1.020        2      0              0
9     63           70.0           1.010        3      0              0
10    68           70.0           1.015        3      1              1
11    68           70.0           1.020        0      0              1
12    68           80.0           1.010        3      2              1
13    40           80.0           1.015        3      0              1
14    47           70.0           1.015        2      0              1
15    47           80.0           1.020        0      0              1
16    60          100.0           1.025        0      3              1
17    62           60.0           1.015        1      0              1
18    61           80.0           1.015        2      0              0
19    48           80.0           1.025        4      0              1
20    21           70.0           1.010        0      0              1
21    42          100.0           1.015        4      0              1
22    61           60.0           1.025        0      0              1
23    75           80.0           1.015        0      0              1
24    69           70.0           1.010        3      4              1
25    75           70.0           1.020        1      3              1
26    68           70.0           1.005        1      0              0
27    51           70.0           1.020        0      0              1
28    73           90.0           1.015        3      0              1
29    61           90.0           1.010        1      1              1
..   ...            ...             ...      ...    ...            ...
340   69           70.0           1.020        0      0              1
341   28           60.0           1.025        0      0              1
342   72           60.0           1.020        0      0              1
343   61           70.0           1.025        0      0              1
344   79           80.0           1.025        0      0              1
345   70           80.0           1.020        0      0              1
346   58           70.0           1.025        0      0              1
347   64           70.0           1.020        0      0              1
348   71           60.0           1.025        0      0              1
349   62           80.0           1.025        0      0              1
350   59           60.0           1.020        0      0              1
351   71           70.0           1.025        0      0              1
352   48           80.0           1.025        0      0              1
353   80           80.0           1.025        0      0              1
354   57           60.0           1.020        0      0              1
355   63           70.0           1.020        0      0              1
356   46           70.0           1.025        0      0              1
357   15           80.0           1.025        0      0              1
358   51           80.0           1.020        0      0              1
359   41           80.0           1.025        0      0              1
360   52           80.0           1.025        0      0              1
361   36           80.0           1.025        0      0              1
362   57           80.0           1.020        0      0              1
363   43           60.0           1.025        0      0              1
364   50           80.0           1.020        0      0              1
365   55           80.0           1.020        0      0              1
366   42           70.0           1.025        0      0              1
367   12           80.0           1.020        0      0              1
368   17           60.0           1.025        0      0              1
369   58           80.0           1.025        0      0              1

     pusCell  pusCellClumps  bacteria  bloodGlucoseRandom  ...    \
0          1              0         0               121.0  ...
1          1              0         0                99.0  ...
2          1              0         0               423.0  ...
3          0              1         0               117.0  ...
4          1              0         0               106.0  ...
5          1              0         0                74.0  ...
6          0              0         0               410.0  ...
7          0              1         0               138.0  ...
8          0              1         0                70.0  ...
9          0              1         0               380.0  ...
10         1              1         0               208.0  ...
11         1              0         0                98.0  ...
12         0              1         1               157.0  ...
13         1              0         0                76.0  ...
14         1              0         0                99.0  ...
15         1              0         0               114.0  ...
16         1              0         0               263.0  ...
17         0              1         0               100.0  ...
18         0              0         0               173.0  ...
19         0              0         0                95.0  ...
20         1              0         0                99.0  ...
21         0              0         1                99.0  ...
22         1              0         0               108.0  ...
23         1              0         0               156.0  ...
24         0              0         0               264.0  ...
25         1              0         0               123.0  ...
26         0              1         0                99.0  ...
27         1              0         0                93.0  ...
28         0              1         0               107.0  ...
29         1              0         0               159.0  ...
..       ...            ...       ...                 ...  ...
340        1              0         0                83.0  ...
341        1              0         0                79.0  ...
342        1              0         0               109.0  ...
343        1              0         0               133.0  ...
344        1              0         0               111.0  ...
345        1              0         0                74.0  ...
346        1              0         0                88.0  ...
347        1              0         0                97.0  ...
348        1              0         0                99.0  ...
349        1              0         0                78.0  ...
350        1              0         0               113.0  ...
351        1              0         0                79.0  ...
352        1              0         0                75.0  ...
353        1              0         0               119.0  ...
354        1              0         0               132.0  ...
355        1              0         0               113.0  ...
356        1              0         0               100.0  ...
357        1              0         0                93.0  ...
358        1              0         0                94.0  ...
359        1              0         0               112.0  ...
360        1              0         0                99.0  ...
361        1              0         0                85.0  ...
362        1              0         0               133.0  ...
363        1              0         0               117.0  ...
364        1              0         0               137.0  ...
365        1              0         0               140.0  ...
366        1              0         0                75.0  ...
367        1              0         0               100.0  ...
368        1              0         0               114.0  ...
369        1              0         0               131.0  ...

     packedCellVolume  whiteBloodCellCount  redBloodCellCount  hypertension  \
0                44.0               7800.0                5.0             1
1                38.0               6000.0                4.0             0
2                31.0               7500.0                4.0             0
3                32.0               6700.0                3.0             1
4                35.0               7300.0                4.0             0
5                39.0               7800.0                4.0             1
6                44.0               6900.0                5.0             0
7                33.0               9600.0                4.0             1
8                29.0              12100.0                3.0             1
9                32.0               4500.0                3.0             1
10               28.0              12200.0                3.0             1
11               38.0               8406.0                4.0             1
12               16.0              11000.0                2.0             1
13               24.0               3800.0                2.0             1
14               38.0               8406.0                4.0             0
15               38.0               8406.0                4.0             1
16               37.0              11400.0                4.0             1
17               30.0               5300.0                3.0             1
18               24.0               9200.0                3.0             1
19               32.0               6900.0                3.0             1
20               38.0               8406.0                4.0             0
21               39.0               8300.0                4.0             1
22               29.0               8400.0                3.0             1
23               35.0              10300.0                4.0             1
24               37.0               9600.0                4.0             1
25               38.0               8406.0                4.0             0
26               38.0               8406.0                4.0             0
27               38.0               8406.0                4.0             1
28               30.0               7800.0                4.0             0
29               34.0               9600.0                4.0             1
..                ...                  ...                ...           ...
340              50.0               9300.0                5.0             0
341              51.0               6500.0                5.0             0
342              52.0              10500.0                5.0             0
343              47.0               9200.0                4.0             0
344              40.0               8000.0                6.0             0
345              48.0               9700.0                5.0             0
346              53.0               9100.0                5.0             0
347              49.0               6400.0                4.0             0
348              42.0               7700.0                5.0             0
349              50.0               5400.0                5.0             0
350              54.0               6500.0                4.0             0
351              40.0               5800.0                5.0             0
352              51.0               6000.0                6.0             0
353              49.0               5100.0                5.0             0
354              42.0              11000.0                4.0             0
355              52.0               8000.0                5.0             0
356              43.0               5700.0                6.0             0
357              50.0               6200.0                5.0             0
358              46.0               9500.0                6.0             0
359              52.0               7200.0                5.0             0
360              52.0               6300.0                5.0             0
361              44.0               5800.0                6.0             0
362              46.0               6600.0                5.0             0
363              54.0               7400.0                5.0             0
364              45.0               9500.0                4.0             0
365              47.0               6700.0                4.0             0
366              54.0               7800.0                6.0             0
367              49.0               6600.0                5.0             0
368              51.0               7200.0                5.0             0
369              53.0               6800.0                6.0             0

     diabetesMellitus  coronaryArteryDisease  appetite  pedalEdema  anemia  \
0                   1                      0         1           0       0
1                   0                      0         1           0       0
2                   1                      0         0           0       1
3                   0                      0         0           1       1
4                   0                      0         1           0       0
5                   1                      0         1           1       0
6                   1                      0         1           1       0
7                   1                      0         1           0       1
8                   1                      0         0           0       1
9                   1                      0         0           1       0
10                  1                      1         0           1       0
11                  1                      1         0           1       0
12                  1                      1         0           1       0
13                  0                      0         1           0       1
14                  0                      0         1           0       0
15                  0                      0         0           0       0
16                  1                      1         1           0       0
17                  0                      1         1           0       0
18                  1                      1         0           1       1
19                  0                      0         1           0       1
20                  0                      0         0           0       1
21                  0                      0         0           0       0
22                  1                      0         1           0       1
23                  1                      0         0           0       0
24                  1                      1         1           1       0
25                  1                      0         1           0       0
26                  0                      1         1           0       0
27                  0                      0         1           0       0
28                  0                      0         0           0       0
29                  1                      0         0           0       0
..                ...                    ...       ...         ...     ...
340                 0                      0         1           0       0
341                 0                      0         1           0       0
342                 0                      0         1           0       0
343                 0                      0         1           0       0
344                 0                      0         1           0       0
345                 0                      0         1           0       0
346                 0                      0         1           0       0
347                 0                      0         1           0       0
348                 0                      0         1           0       0
349                 0                      0         1           0       0
350                 0                      0         1           0       0
351                 0                      0         1           0       0
352                 0                      0         1           0       0
353                 0                      0         1           0       0
354                 0                      0         1           0       0
355                 0                      0         1           0       0
356                 0                      0         1           0       0
357                 0                      0         1           0       0
358                 0                      0         1           0       0
359                 0                      0         1           0       0
360                 0                      0         1           0       0
361                 0                      0         1           0       0
362                 0                      0         1           0       0
363                 0                      0         1           0       0
364                 0                      0         1           0       0
365                 0                      0         1           0       0
366                 0                      0         1           0       0
367                 0                      0         1           0       0
368                 0                      0         1           0       0
369                 0                      0         1           0       0

     class
0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
5      1.0
6      1.0
7      1.0
8      1.0
9      1.0
10     1.0
11     1.0
12     1.0
13     1.0
14     1.0
15     1.0
16     1.0
17     1.0
18     1.0
19     1.0
20     1.0
21     1.0
22     1.0
23     1.0
24     1.0
25     1.0
26     1.0
27     1.0
28     1.0
29     1.0
..     ...
340    0.0
341    0.0
342    0.0
343    0.0
344    0.0
345    0.0
346    0.0
347    0.0
348    0.0
349    0.0
350    0.0
351    0.0
352    0.0
353    0.0
354    0.0
355    0.0
356    0.0
357    0.0
358    0.0
359    0.0
360    0.0
361    0.0
362    0.0
363    0.0
364    0.0
365    0.0
366    0.0
367    0.0
368    0.0
369    0.0

[370 rows x 25 columns]

(370, 25)

## Duplicates ToDo Edgaras